.auth-form {
    background: #FEFEFE;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: solid #560caa;
    border-radius: 20px;
    padding: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.error-message {
    margin: 0;
    padding: 0;
}

.auth-page {
    background-image: url('background.webp');
    background-size:100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-buttons {
    display: flex;
    justify-content: space-between
}

#register-button {
    margin-left: auto
}