.list-page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F0F0F0;
}

.task {
    display: flex;
    align-items: center;
    margin: 2px;
    gap: 3px;
}