.dashboard-page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F0F0F0;
}

.list-header {
    background: #FEFEFE;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    margin-bottom: 8px;
}

.badge {
    font-size: 24px;
}

.list-object {
    display: flex;
    margin: 8px 0;
}

#delete-button {
    height: auto;
}

#exit-button {
    display: block;
    margin-left: auto;
    margin-right: 0;
    min-width: 50px;
    width: 5%;
}